! urxvt
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0
URxvt.secondaryWheel: 1
URxvt*geometry: 112x22
URxvt*font: xft:Hack:size=10,xft:DejaVu Sans Mono for Powerline:size=10
! URxvt*font: xft:DejaVu Sans Mono for Powerline:size=11
URxvt.letterSpace: -1
URxvt*scrollBar: false
URxvt*256-color: true
URxvt*scrollColor: #000000
URxvt*saveLines: 20000
URxvt*background: #21252a
! URxvt*background: Black
URxvt*foreground: White
URxvt.cursorColor:  #d3d0c8

!! fixes tearing when using compton
! URxvt*.depth: 24

URxvt.perl-ext-common: default,matcher,vtwheel,resize-font
URxvt.url-launcher: firefox
URxvt.matcher.button: 2
URxvt.resize-font.step: 1

*.foreground:   #d3d0c8
*.background:   #2d2d2d
*.cursorColor:  #d3d0c8

! black
URxvt.color0:       #31363b
URxvt.color8:       #7f8c8d

! red
URxvt.color1:       #ed1515
URxvt.color9:       #c0392b

! green
URxvt.color2:       #11d116
URxvt.color10:      #1cdc9a

! yellow
URxvt.color3:       #0f6740
URxvt.color11:      #fdbc4b

! blue
URxvt.color4:       #1d99f3
URxvt.color12:      #3daee9

! magenta
URxvt.color5:       #9b59b6
URxvt.color13:      #8e44ad

! cyan
URxvt.color6:       #1abc9c
URxvt.color14:      #16a085

! white
URxvt.color7:       #eff0f1
URxvt.color15:      #fcfcfc

! Xft.dpi: 76
!rofi.dpi: 192
