[Unit]
Description=Simple Power Manager Daemon (%i mode)
Conflicts=powerman@bat.service powerman@ac.service

[Service]
ExecStart=/usr/local/bin/powerman.sh %I
Restart=no

[Install]
WantedBy=default.target
