# vim: set filetype=systemd:

[Unit]
Description=Simple Power Manager Daemon (%i mode)
Conflicts=powerman@bat.service powerman@ac.service

[Service]
ExecStart=%h/.dotfiles/scripts/start-swayidle.sh %I
Restart=no

[Install]
WantedBy=default.target
