# vim: set filetype=systemd:

[Unit]
Description=Screen locker after resuming from sleep
Before=sleep.target

[Service]
User=%I
ExecStart=systemctl --machine=%I@.host --user start lock.service

[Install]
WantedBy=sleep.target
